<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /c/ilearner/studio/admin-js-sdk/test/mock
RewriteRule ^index\.php$ - [L]
RewriteRule . /c/ilearner/studio/admin-js-sdk/test/mock/index.php [L]
</IfModule>
